@page "/ComponetDemo/TostMessage"
@using HJTB.Client.Components

<div>
    <Button Color="ButtonColor.Primary" @onclick="() => ShowMessage(ToastType.Primary)">پیغام  تست</Button>
    <Toasts class="p-3" Messages="messages" AutoHide="true" StackLength="3" Placement="ToastsPlacement.BottomRight" />
</div>

@code {
    List<ToastMessage> messages = new List<ToastMessage>();

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
    => new ToastMessage
        {
            Type = toastType,
            Title = "عنوان پیام",
            HelpText = $"{DateTime.Now}",
            Message = "این فقط یک پیام تستی  می باشد",
        };
}