@inherits LayoutComponentBase

<div class="page">
    <div class="@SidebarToggle" @onmouseover="MouseIn" @onmouseout="MouseOut">
        <NavMenu IsHidden="@MainHidden" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="" >
                <img src="css/images/hjblazorframwork.png" style="width:200px"  />
            </a>
        </div>
        <Preload LoadingText="Loading..." />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public string SidebarToggle = "sidebar";
    private string MainHidden;

    protected override void OnInitialized()
    {
        MainHidden = "IsHidden";
    }

    public void MouseIn(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        SidebarToggle = "sidebarFixed";
        MainHidden = "";
    }

    public void MouseOut(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        SidebarToggle = "sidebar";
        MainHidden = "IsHidden";
    }
   
}

