@page "/Application/GetAll"

@using ViewModels.Applications;

<h3>GetAll</h3>

@inject Services.ApplicationService ApplicationService

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">نام</th>
                <th scope="col">توضیح</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Application)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <button type="button" @onclick="()=>Delete(item.Id)" class="btn btn-danger">حذف</button>
                        <button type="button" @onclick="()=>Edit(item)" class="btn btn-secondary">ویرایش</button>
                    </td>
                </tr>
            }
          
        </tbody>
    </table>
    @if (IsEdit)
    {
        <Edit  Result="@EditApplication" OnChangeListApplications="(e) => RefreshListApplications(e)"></Edit>
    }
</div>
@code {
    public IList<Models.Application> Application = new List<Models.Application>();
    public Models.Application EditApplication { get; set; }
    public bool IsEdit { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Application = await ApplicationService.GetAsync();
    }

    public async Task Delete(Guid Id)
    {
        var result = await ApplicationService.DeleteAsync(Id.ToString());

        Application = await ApplicationService.GetAsync();
    }  

    public void Edit(Models.Application item)
    {
        EditApplication = item;
        IsEdit = true;
    }

    private async Task  RefreshListApplications(Guid id)
    {
       await  OnInitializedAsync();
    }

}
