@page "/Demo"

@using HJTB.Client.Components

<div>
    <h2><a href="/ComponetDemo/TostMessage">Toast Message</a></h2>
    <br />
    <br />
    <h2><a href="/ComponetDemo/Preload">Preload</a></h2>
    <br />
    <br />

</div>

@code {
 
}
