@page "/"

<PageTitle>Index</PageTitle>

<h1>سلام!</h1>

خوش آمدید به فریمورک.

<SurveyPrompt Title="این فریمورک توسط حمید جلالت ایجاد  و طراحی شده برای  سرعت بخشیدن به توسعه برنامه نویسی با NET." />
